body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
}
#canvas {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: -1;
  justify-content: center;
  align-items: center;
}
[data-webgl] {
  background-color: red;
  opacity: 0;
}
/* div {
        width: 100px;
        height: 100px;
        margin-left: 100px;
        margin-top: 100px;
      } */
section {
  width: 300px;
  height: 200px;
  margin-left: 100px;
  margin-top: 100px;
}
img {
  display: block;
  width: 1000px;
  height: 700px;
  margin-left: 100px;
  margin-top: 100px;
}
article {
  position: absolute;
  right: 0;
  top: 50%;
  width: 300px;
  height: 200px;
  margin-left: 560px;
  margin-top: 100px;
}
/* .flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      } */
